@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

.raleway_font {
  font-family: "Raleway", sans-serif;
}
/* FONT SIZES  */
:root {
  /* COLORS */
  --black: #0c0404;
  --white: #ffffff;
  /* FONT SIZES  */
  --font_xl: 40px;
  --font_lg: 30px;
  --font_md: 25px;
  --font_sm: 20px;
  --font_xsm: 15px;
}

/* FONT SIZES MEDIA QUERY */
@media (max-width: 1024px) {
  :root {
    --font_xl: 35px;
    --font_lg: 25px;
    --font_md: 23px;
    --font_sm: 17px;
    --font_xsm: 13px;
  }
}
@media (max-width: 991.98px) {
  :root {
    --font_xl: 30px;
    --font_lg: 22px;
    --font_md: 20px;
    --font_sm: 15px;
    --font_xsm: 12px;
  }
}
@media (max-width: 767.98px) {
  :root {
    --font_xl: 25px;
    --font_lg: 20px;
    --font_md: 18px;
    --font_sm: 15px;
    --font_xsm: 12px;
  }
}
@media (max-width: 575.98px) {
  :root {
    --font_xl: 22px;
    --font_lg: 20px;
    --font_md: 18px;
    --font_sm: 15px;
    --font_xsm: 12px;
  }
}
/* FONT SIZES CLASSES  */
.font_xl {
  font-size: var(--font_xl) !important;
}
.font_lg {
  font-size: var(--font_lg) !important;
}
.font_md {
  font-size: var(--font_md) !important;
}
.font_sm {
  font-size: var(--font_sm) !important;
}
.font_xsm {
  font-size: var(--font_xsm) !important;
}

/* COMMON CLASSES  */
body {
  background-color: var(--black) !important;
}
.cursor-pointer {
  cursor: pointer;
}
.h-100vh {
  height: 100vh;
}
.text_hover {
  color: var(--white);
  transition: 0.3s ease-in-out;
}
.text_hover:hover {
  color: #ffffffa1;
}
.not_allow {
  cursor: not-allowed !important;
}

.eye-icon {
  top: 30px;
  right: 10px;
}
.dot {
  width: 8px;
  height: 8px;
  background: var(--white);
  display: inline-block;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  margin: 0px 2.5px;
  position: relative;
  animation: wave 1.2s infinite;
}

.dots-cont .dot-1 {
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.dots-cont .dot-2 {
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms;
}

.dots-cont .dot-3 {
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}
@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-7px);
  }
}
/* FORM AND BUTTON CSS */
.form-control:focus {
  box-shadow: 0 0 0 0.25rem transparent !important;
  border-color: transparent !important;
  color: var(--black);
  font-family: "Raleway", sans-serif;
}
.form-control {
  font-family: "Raleway", sans-serif !important;
  color: var(--black) !important;
  font-size: var(--font_xsm) !important;
}
.sign_up_text {
  color: var(--white);
}
.submit_btn {
  background-color: var(--black);
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  border: 1px solid var(--white);
  border-radius: 8px;
  font-size: var(--font_sm) !important;
  transition: 0.3s ease-in-out;
}
/* .submit_btn:hover {
  background-color: var(--white);
  color: var(--black);
} */
.swal-footer {
  padding: 47px 0px 40px 0px !important;
}
.swal-title {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700;
  color: var(--black);
}
.swal-text {
  display: none !important;
}
.swal-footer {
  text-align: center !important;
}
.swal-button {
  background-color: var(--black);
  color: var(--white);
  font-family: "Raleway", sans-serif;
}
.swal-title:first-child {
  margin-top: 50px !important;
}
/* MEDIA QUERIES  */
@media (min-width: 991.98px) {
  .height_100 {
    height: 100%;
  }
}
@media (max-width: 575.98px) {
  .eye-icon {
    top: 20px;
    right: 10px;
  }
}
