.left-sidebar {
  background-color: white;
  width: 250px;
  position: fixed;
  left: 0;
  min-height: 100vh;
}

.post-show-box {
  max-height: 100vh;
  overflow: auto;
  background-color: black !important;
  max-width: 500px;
  margin: auto;
}

.right-sidebar {
  background-color: white;
  width: 250px;
  position: fixed;
  right: 0;
  min-height: 100vh;
}
