.left-sidebar {
  background-color: white;
  width: 300px;
  min-height: 100vh;
}

.post-show-box {
  max-height: 100vh;
  overflow: auto;
  background-color: black !important;
}

.right-sidebar {
  background-color: white;
  width: 300px;
  min-height: 100vh;
}
